providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/bree/repos/ws1819/bioinformatic_lab/presentation"
          source: "/home/bree/repos/ws1819/bioinformatic_lab/presentation/.build-tools.cson"
          name: "make_latex"
          command: "make"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: true
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
      ]
  }
]
